body {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  background-image: url(../images/RockPaperScissors_web.jpg);
  background-size: cover;
  color: yelow;
  margin: 3em;
  color: black;
}

p{
  font-size: 28px;
  background: yellow;
}


strong {
  text-decoration: underline;
}

button {
  background:yellow;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: monospace;
  font-weight: bold;
}
button:active {
  background: yellow;
}

.scoreboard {
  width: 14em;
  margin: auto;
  border: 1px solid black;
}
.scoreboard h2 {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px;
}
.scoreboard table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;

}
.scoreboard th, .scoreboard td {
  text-align: center;
}
.scoreboard td {
  font-size: 3em;
  padding: 0 20px;
}

h2{
  background: yellow;

}

#status {
  margin-top: 20px;
}