*{
    box-sizing: border-box;
  }
  
  body{
    background-image: url(../images/images.png);
    background-size: cover;
    font-family: 'Maven Pro', sans-serif;
    color: white;
  }

  .sigBtn{
    background: grey;
  }

  