<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Parchment, Stone, or Blade?</title>
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    
    <p>Play.<strong>Rock</strong> beats <strong>scissors</strong>, <strong>scissors</strong> beats <strong>paper</strong>, and <strong>paper</strong> beats <strong>rock</strong>.</p>
    <div class="scoreboard">
        <h2>Scoreboard</h2>
        <table>
            <tbody>
            <tr>
                <td id="humanScore">0</td>
                <td id="computerScore">0</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>You</th>
                <th>Bot</th>
            </tr>
            </tfoot>
        </table>
        </div>
        <h2>choices</h2>

        <button id="rock">Rock</button>

        <button id="paper">Paper</button>

        <button id="scissors">Scissors</button>

        <script>
            var playerId = "<%= user._id %>";
        </script>
        <script src="js/game.js"></script>
    <div id="status"></div>
</body>
</html>
